@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'GangwonEduSaeeum_OTFMediumA';
	margin: 0;
    padding: 0;
}
.container {
	width: 1400px;
	height: 1300px;
	margin: 0 auto;
	padding-top: 5px;
  	display: grid;
    grid-template: 300px 800px 200px / 300px 750px 300px;
    grid-gap: 5px;
	
	 grid-template-areas:
         'header header header'
         'mainLeft mainCenter mainRight'
         'footer footer footer';
}
.header {
	grid-area: header;
}
.mainLeft {
	grid-area: mainLeft;
}
.mainCenter {
	grid-area: mainCenter;
}
.mainRight {
	grid-area: mainRight;
}
.footer {
	grid-area: footer;
}

